# WEEK 2: Data Types, Containers, Logic and Loops
##### Guan He 04/10/2019

### Major Data Types
- strings
- numeric (integers, floats)
- boolean (True or False)
- None

you can find the class of the object by using
<code>type(object)</code>

### strings

##### 1. you can use a variable to store a string:

In [173]:
message = "Hello World"
print(message)

Hello World

##### 2. single quotes vs double quotes 
They are essentially the same, however, you will get an error if you do:
<code>message = 'Steven's World'</code>

##### 3. how to correctly use quotes:
- use interchangeably
- use backslash

In [174]:
message = "Steven's World"
print(message)

message = 'Bobby\'s World'
print(message)

Steven's World
Bobby's World

##### 4. how to create a multi-line string:
- use """
- use "\n"

In [175]:
message = """I
love
programming!
"""
print(message)

message = "I\nlove\nprogramming!"
print(message)

I
love
programming!

I
love
programming!

##### 5. check the length of the string
note the string also includes the whitespace

In [176]:
message = "Hello World"
print(len(message))

11

##### 6. if you want to access the first letter
note in python, index starts at 0

In [177]:
print(message[0])

H

##### 7. if you want to access the last letter

In [178]:
print(message[-1])

d

##### 8. if you want to access a range of letters
- it is called slicing
- note the first index is inclusive but the second index is not inclusive

In [179]:
print(message[0:5])

Hello

In [180]:
print(message[:5]) # assume starting at index 0
print(message[6:]) # assume finishing at the last index

Hello
World

##### 9. string to lower case or upper case

In [181]:
print(message.lower())
print(message.upper())

hello world
HELLO WORLD

##### 10. if we want to count the number of a certain letter or a set of letters

In [182]:
print(message.count("l"))
print(message.count("Hello"))

3
1

##### 11. if we want to find the first starting index of a certain letter or a set of letters

In [183]:
print(message.find("World"))
print(message.find("l"))   # only the first - "l"
print(message.find("zzz"))   # cannot find - -1

6
2
-1

##### 12. replace some letters with other letters
note that you must store the replaced string in a new variable

In [184]:
message = "Hello World"
new_message = message.replace("World", "Universe")

print(new_message)

Hello Universe

##### 13. string concatenation - combining strings

In [185]:
first_name = "John"
last_name = "Smith"
name = first_name + " " + last_name
print(name)
# this can be annoying at times when you have a 
# really long string to concatenate with 
# multiple whitespaces

John Smith

##### 14. formatted string

In [186]:
sentence = "{} {} loves coding! He is the best coder!"\
.format(first_name, last_name)
print(sentence)
# note here the backslash is breaking the lines, so
# you can write code in multiple lines now to 
# avoid the code being awfully long.

John Smith loves coding! He is the best coder!

##### 15. f strings - great tool - python 3.6 +

In [187]:
sentence = f"""{first_name} {last_name.upper()} loves
coding, but he is not good at it!"""
print(sentence)
# here we combine f strings with a multi-line string
# we can also use other methods on the variables
# this is super convenient, isn't it?

John SMITH loves
coding, but he is not good at it!

##### 16. split a string

In [188]:
c = "Python is a great language!"

# default is to split by whitespace
print(c.split())

# specify a delimiter
print(c.split("is"))

['Python', 'is', 'a', 'great', 'language!']
['Python ', ' a great language!']

##### 17. a help guide for all of the string methods
<code>print(help(str))</code>

### integers and floats

##### 1. an integer is a whole number and a float is a decimal

In [189]:
num = 3
print(type(num))

num = 3.1415926
print(type(num))

<class 'int'>
<class 'float'>

##### 2. Arithmetic Operators:
- Addition: 4 + 6
- Subtraction 5 - 3
- Multiplication 2 * 7
- Division 3 / 2
- Floor Division 5 // 2 (gives you the quotient)
- Exponent: 4 ** 3
- Modulus: 5 % 2 (gives you the remainder) 
- Parenthesis: (5 + 2) * 3
- Absolute Value: abs(-3)

##### 3. modulus can be commonly used for even / odd numbers

In [190]:
print (4 % 2)
print (5 % 2)
print (6 % 2)
print (7 % 2)

0
1
0
1

##### 4. incrementing

In [191]:
# incrementing numbers
num = 1
num = num + 1
print(num)

# a short incrementing method
num = 1
num += 1
print(num)

# you can combine incrementing with other operators
num = 1
num *= 100
print(num)

2
2
100

##### 5. rounding

In [192]:
# rounding numbers to integers
print(round(3.141592653))

# rounding numbers with digits specified
print(round(3.141592653, 3))

3
3.142

##### 6. Comparison Operators:
- Equal: 3 == 2 (why can't we use "="?)
- Not Equal: 3 != 2
- Greater Than: 3 > 2
- Less Than: 3 < 2
- Greater Than or Equal to: 3 >= 2
- Less Than or Equal to: 3 <= 2
- using these operators will return a boolean (True or False)

In [193]:
num_1 = 4
num_2 = 7
print(num_1 == num_2)

False

##### 7. The difference between strings and numeric values

In [194]:
num_1 = "103"
num_2 = "125"
print(num_1 + num_2)

# We need to parse them to integers
print(int(num_1) + int(num_2))

103125
228

##### 8. check for more methods
<code>print(help(float))</code>
<code>print(help(int))</code>

##### 9. ZeroDivisionError
If you do: <code>3 / 0</code>, you will get an error
##### it will return NaN (Not a Number) in numpy (a python package) (will be useful for data frames)

### conditionals & booleans

##### 1. comparisons
- Equal: == 
- Not Equal: != 
- Greater Than: > 
- Less Than: < 
- Greater Than or Equal to: >=
- Less Than or Equal to: <=
- Object Identity: is (whether it is the same object in memory)

note the difference between == and the "is" operator. The "is" operator tests whether the objects point to the same location in memory (have the same id), whereas == tests whether the objects have the same value

integers within the range of -5 to 256 will point to the same position in memory, decimals or other integers will have different ids, therefore, you need to use the "is" operator with caution, a typical use case of the "is" operator is to test whether a <code>variable is None</code>

In [195]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)
print(id(a))
print(id(b))

# try different ones
# language = "Python"
# language = "PHP"
# language = "C++"
language = "JavaScript"

# basic if else - beware of indentation
if language == "Python":
    print("You are using Python!")
elif language == "JavaScript":
    print("You are using JavaScript!")
else:
    print("I do not know what you are using!")

False
1916737783624
1916737783560
You are using JavaScript!

##### 2. Logical Operators:
- and
- or
- not

In [196]:
user = "Admin"
logged_in = True
if user == "Admin" and logged_in:
    print("Admin Page")
else: 
    print("Redirect to Other Pages")
    
if not logged_in:
    print("Please log in to your account")
else: 
    print("Hi user!")

Admin Page
Hi user!

##### 3. All False Values:
- False
- None
- Zero of any numeric type
- Any empty sequence. For example, "", (), [].
- Any empty mapping. For example, {}.

In [197]:
if not 0:
    print("This is always going to print!")

This is always going to print!

##### 4. booleans have numeric values in python

In [198]:
print(True * 3)
print(True + False)
print(5 * False)

3
1
0

### Python Containers
- lists
- tuples
- sets
- dictionaries

### Lists

In [199]:
courses = ["History", "Math", "Physics", "Computer Science"]

# creating numbers quickly
print(list(range(3, 10, 2)))   #start, end, step

[3, 5, 7, 9]

##### 1. checking how many values in the list

In [200]:
print(len(courses))

4

##### 2. accessing individual values within a list

note that the index of the 1st element of a list is 0!

change the individual value by assigning a new value:
<code>list[n] = new_value</code>

In [201]:
print(courses[0])
print(courses[len(courses) - 1])   # getting the last item
print(courses[-1])   # getting the last item

History
Computer Science
Computer Science

##### 3. getting a range of values within a list - slicing

note that the start index is closed/inclusive but the end index is open

structure: <code>my_list[start_index:end_index:step]</code>

you can omit something within the structure to grab a pattern of values

In [202]:
print(courses[0:2])
print(courses[:2])
print(courses[2:])
print(courses[-2:])   # getting the last two items
print(courses[0:3:2])
print(courses[:])   # making a copy - will not point to same place in memory
print(courses[::-1])   # reversing the list

['History', 'Math']
['History', 'Math']
['Physics', 'Computer Science']
['Physics', 'Computer Science']
['History', 'Physics']
['History', 'Math', 'Physics', 'Computer Science']
['Computer Science', 'Physics', 'Math', 'History']

##### 4. appending to a list

it will add a new value to the end of the list

In [203]:
courses.append("Art")
print(courses)

['History', 'Math', 'Physics', 'Computer Science', 'Art']

##### 5. inserting a value into a list

it will add a value at a specific location specified

In [204]:
courses = ["History", "Math", "Physics", "Computer Science"]
courses.insert(0, "Art")
print(courses)

['Art', 'History', 'Math', 'Physics', 'Computer Science']

##### 6. extending a list

we want to use extend when we have multiple values that we want to add to a list, and the values will be added to the end of the list

In [205]:
courses = ["History", "Math", "Physics", "Computer Science"]
courses_2 = ["Art", "Education", "Geography"]
courses.insert(0, courses_2)   # this will create a nested list
print(courses)
print(courses[0])

# Similarly, "append" will also create a nested list

print("\n")

courses = ["History", "Math", "Physics", "Computer Science"]
courses_2 = ["Art", "Education", "Geography"]
courses.extend(courses_2)   # this will add more values
print(courses)

[['Art', 'Education', 'Geography'], 'History', 'Math', 'Physics', 'Computer Science']
['Art', 'Education', 'Geography']


['History', 'Math', 'Physics', 'Computer Science', 'Art', 'Education', 'Geography']

##### 7. remove a specific value from our list

In [206]:
courses.remove("Math")
print(courses)

['History', 'Physics', 'Computer Science', 'Art', 'Education', 'Geography']

##### 8. pop a value (remove value at the end of the list)

note that it returns the value that it removed from the list, so we can actually store the value in a new variable

In [207]:
courses = ["History", "Math", "Physics", "Computer Science"]
popped = courses.pop()
print(courses)
print(popped)

['History', 'Math', 'Physics']
Computer Science

##### 9. sort the list

In [208]:
courses = ["History", "Math", "Physics", "Computer Science"]
courses.reverse()   # what is another method using the slicing method?
print(courses)

print("\n")

courses.sort()   # sorting to alphabetical order
print(courses)

print("\n")

nums = [3, 7, 0, 12, 17, 5, 2]
nums.sort()   # sort in ascending order
print(nums)

print("\n")

nums.sort(reverse=True)   # sort in descending order

['Computer Science', 'Physics', 'Math', 'History']


['Computer Science', 'History', 'Math', 'Physics']


[0, 2, 3, 5, 7, 12, 17]

##### 10. sorting without changing the orginal list

In [209]:
courses = ["History", "Math", "Physics", "Computer Science"]
courses_sorted = sorted(courses)
print(courses_sorted)

['Computer Science', 'History', 'Math', 'Physics']

##### 11. common list calculations
- min
- max
- sum

##### 12. find the index of a certain value in the list
- the "index" method (if not found, will return error)
- the "in" method

In [210]:
print(courses.index("Computer Science"))

print("Art" in courses)

3
False

##### 13. convert a list to a string

note that the "split" method is converting a string to a list

In [211]:
courses = ["History", "Math", "Physics", "Computer Science"]
courses_str = ", ".join(courses)   # comma separated
print(courses_str)

print("\n")

courses_str2 = " - ".join(courses)
print(courses_str2)

History, Math, Physics, Computer Science


History - Math - Physics - Computer Science

### Tuples
- tuples are immutable, but lists are mutable
- tuples use "()", lists use "[]"
- tuples can have most of lists' methods

In [212]:
print("Mutable")
# if we change the list values - both list_1 and list_2 have the same values
list_1 = ["History", "Math", "Physics", "Computer Science"]
list_2 = list_1
print(list_1)
print(list_2)

list_1[0] = "Art"
print(list_1)
print(list_2)

print("\n")

print("Immutable")
tuple_1 = ("History", "Math", "Physics", "Computer Science")
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

# if you try to run the code below, it will return an error
# tuple_1[0] = "Art"
# print(tuple_1)
# print(tuple_2)

Mutable
['History', 'Math', 'Physics', 'Computer Science']
['History', 'Math', 'Physics', 'Computer Science']
['Art', 'Math', 'Physics', 'Computer Science']
['Art', 'Math', 'Physics', 'Computer Science']


Immutable
('History', 'Math', 'Physics', 'Computer Science')
('History', 'Math', 'Physics', 'Computer Science')

### Sets
- unordered values
- have no duplicates
- use "{}" or set{["a", "b"]}

##### 1. sets' attributes

In [213]:
courses_set = {"History", "Math", "Physics", "Computer Science"}
print(courses_set)   # we can see that sets do not care about order

courses_set2 = {"History", "Math", "Physics", "Computer Science", "Math"}
print(courses_set2)   # get rid of duplicates automatically

print("Math" in courses_set2)   # sets are optimized for finding values - C

{'Math', 'Computer Science', 'History', 'Physics'}
{'Math', 'Computer Science', 'History', 'Physics'}
True

##### 2. union, intersection & difference

In [214]:
cs_courses = {"History", "Math", "Physics", "Computer Science"}
art_courses = {"History", "Math", "Art", "Design"}

common_courses = cs_courses.intersection(art_courses)
print(common_courses)

print("\n")

all_courses = cs_courses.union(art_courses)
print(all_courses)

print("\n")

cs_major_courses = cs_courses.difference(art_courses)
print(cs_major_courses)

{'Math', 'History'}


{'Art', 'Physics', 'Math', 'Computer Science', 'History', 'Design'}


{'Computer Science', 'Physics'}

### Creating Empty Lists, Tuples and Sets

note for sets, <code>empty_set = {}</code>, which is not right! It is a dict!

In [215]:
# empty list
empty_list = []
empty_list = list()

# empty tuples
empty_tuple = ()
empty_tuple = tuple()

# empty sets
empty_set = set()

### Dictionaries

dictionaries allow us to use key-value pairs
- key: a unique identifier to find the data
- value: the actual data value

##### 1. creating a dict

In [216]:
student = {
    "name": "John",
    "age": 25,
    "courses": "Computer Science"
    }

print(student)

print("\n")

# getting a specific value
print(student["name"])

{'name': 'John', 'age': 25, 'courses': 'Computer Science'}


John

##### 2. better way to get a certain value - especially when key does not exist

if you use the regular method to get a key that does not exist, it will simply return a KeyError

the "get" method will return None as a default, you can also specify what you want the "get" method to return

In [217]:
print(student.get("not_exist"))

print("\n")

print(student.get("not_exist", "Not Found"))

None


Not Found

##### 3. adding/updating entries to dictionaries

In [218]:
student["phone"] = "555-5555"   # adding new
student["name"] = "Jimmy"   # updating existing
print(student)

print("\n")

# updating or adding multiple entries at one time
student.update({"name": "Dan",
                "age": 26,
                "phone": "333-3333"})

print(student)

{'name': 'Jimmy', 'age': 25, 'courses': 'Computer Science', 'phone': '555-5555'}


{'name': 'Dan', 'age': 26, 'courses': 'Computer Science', 'phone': '333-3333'}

##### 4. deleting a key-value pair
- use the "del" method
- use the "pop" method: it also returns the value popped.

In [219]:
student = {
    "name": "John",
    "age": 25,
    "courses": "Computer Science"
    }

del student["courses"]
print(student)

print("\n")

age = student.pop("age")
print(student)
print(age)

{'name': 'John', 'age': 25}


{'name': 'John'}
25

### Unpacking (Destructuring)

In [220]:
a, b, c = [1, 2, 3]
print(a)
print(b)
print(c)

print("\n")

# using asterisk
a, b, *c = [1, 2, 3, 4]
print(c)

print("\n")

# you can move asterisk to any point
a, *b, c = [1, 2, 3, 4]
print(b)

1
2
3


[3, 4]


[2, 3]

### Loops & Iterations
- beware of indent
- do not overuse loops

In [221]:
nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num)

1
2
3
4
5

##### 1. break and continue statement

In [222]:
for num in nums:
    if num == 3:
        print("Found!")
        break
    print(num)
    
print("\n")

for num in nums:
    if num == 3:
        print("Found!")
        continue
    print(num)

1
2
Found!


1
2
Found!
4
5

##### 2. loop within loop
note it can be inefficient at times

In [223]:
nums = [1, 2, 3, 4, 5]
letters = ["a", "b", "c", "d", "e"]
for num in nums:
    for letter in letters:
        print(num, letter)

1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e
3 a
3 b
3 c
3 d
3 e
4 a
4 b
4 c
4 d
4 e
5 a
5 b
5 c
5 d
5 e

##### 3. range

In [224]:
for i in range(10):
    print(i)

print("\n")

for i in range(1, 11):
    print(i)
    
print("\n")

x = ["a", "b", "c", "d", "e"]
for i in range(len(x)):
    print(i, " ", x[i])

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9
10


0   a
1   b
2   c
3   d
4   e

##### 4. enumerate

In [225]:
courses = ["History", "Math", "Physics", "Computer Science"]
for index, course in enumerate(courses):
    print(index, course)
    
print("\n")

# make the index value printed start at 1
for index, course in enumerate(courses, start=1):   # each item similar to a tuple
    print(index, course)

0 History
1 Math
2 Physics
3 Computer Science


1 History
2 Math
3 Physics
4 Computer Science

##### 5. while loop

In [226]:
x = 0
while x < 10:
    print(x)
    x += 1
    
print("\n")

# you can also use break to break out the while loop
# this can cause infinite loop and breaks the program
# ctrl + c to interrupt it
x = 0 
while True:
    if x == 5:
        break
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4

##### 6. loop through key, value of a dictionary

In [227]:
student = {
    "name": "John",
    "age": 25,
    "courses": "Computer Science"
    }

print(len(student))
print(student.keys())
print(student.values())
print(student.items())

print("\n")

for key, value in student.items():
    print(key, value)

3
dict_keys(['name', 'age', 'courses'])
dict_values(['John', 25, 'Computer Science'])
dict_items([('name', 'John'), ('age', 25), ('courses', 'Computer Science')])


name John
age 25
courses Computer Science

##### 7. combining loop with logical operators

In [228]:
numbers = [5, 6, 18, 20, 22, -7, 55502, 3]

for n in numbers:
    if n > 3:
        print("big number")
    elif n == 3:
        print("kinda big kinda small")
    else:
        print("small number")

big number
big number
big number
big number
big number
small number
big number
kinda big kinda small

##### 8. comprehensions to replace loops:
- list comprehension: <code>[ expression for item in list if conditional ]</code>
- dictionary comprehension: <code>{ expression for key, value in dictionary.items() if conditional }</code>

In [229]:
# list comprehension example:
numbers = [5, 6, 18, 20, 22, -7, 55502, 3, "string"]
print([n > 3 for n in numbers if isinstance(n, int)])

print("\n")

# dictionary comprehension example:
dict_example = {"a": 1, "b": 3, "c": 4, "d": 1000}
print({f"{key} is {value}." for key, value in dict_example.items()})

[True, True, True, True, True, False, True, False]


{'d is 1000.', 'b is 3.', 'a is 1.', 'c is 4.'}